.MenuTable {
    padding: 0;
    margin: 0;

    li {
        a {
            text-decoration: none;
            color: #000;
            display: block;
            padding: 10px;

            &:hover {
                color: #000;
            }
        }


    }
}