.Section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0px 10px 30px #ebebeb;
    margin-bottom: 20px;

    .SectionHead {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        padding-bottom: 5px;
        color: #000;
        font-size: 16px;

        .SectionLine {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #3cafa9;
            top: 100%;
            left: 0;
        }
    }
}