.Menu {
    background-color: #f5f9fb;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;

    .Sidetable {
        width: 200px;
        border-radius: 10px;
        background: linear-gradient(#6fceca, #5eabd5);
        width: 300px;
        margin: 10px;

        a {
            margin-top: 5px;
            margin-left: 30px;
            border-radius: 20px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            text-indent: 10px;
            font-size: 13px;
            color: #fff;

            &:hover {
                color: #e4e4e4;
            }
        }

        .Profile {
            text-align: center;
            padding: 50px 0;

            .ProfileImg {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                border: 10px solid rgba($color: #ffffff, $alpha: 0.15);

                img {
                    width: 100%;
                }
            }

            .Name {
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-top: 10px;
            }

            .Prof {
                font-weight: 300;
                font-size: 13px;
            }
        }

    }


    .RightContent {
        width: 100%;
        padding: 10px;
        overflow: hidden;
        overflow-y: scroll;
    }

}