.SkillsWrapper {

    margin-bottom: 50px;

    .SkillHeadWrapper {

        position: relative;
        border: 1px solid transparent;

        // .SkillsUnderline {
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     bottom: 50%;
        //     width: 10%;
        //     height: 2px;
        //     background-color: #6ecdcb;
        //     box-shadow: 0 0 40px #55fffc7e;
        // }

        .SkillsHead {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            margin: 40px 0 20px 0;
        }
    }

    .SkillsGrid {
        display: grid;
        grid-column-gap: 13.5px;
        grid-row-gap: 13.5px;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
    }

    .LineBreak {
        border: none;
        border-bottom: 1px solid #d8d8d8;
        width: 50%;
        margin-top: 50px;
    }
}