.SkillCard {
    width: 130px;
    height: 130px;
    background-color: white;
    text-align: center;
    font-size: 13px;
    border-radius: 10px;
    // margin: 10px 30px 15px 0px;
    // display: inline-block;
    color: #00689e;

    .SkillCardImg {
        overflow: hidden;
        padding: 15px 10px;
        width: 90px;
        height: 90px;
        margin: auto;

        img {
            width: 100%;
        }
    }

    .SkillCardName {
        font-weight: 700;
        font-size: 13px;
    }

    .SkillExperience {
        font-weight: 300;
        font-size: 11px;
        margin-top: 5px;
    }
}