.ServicesGrid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;

    .ServiceWrap {

        .ServicesIcon {
            width: 90px;
            height: 90px;
            border: 1px dashed rgb(158, 158, 158);
            border-radius: 50%;
            overflow: hidden;
            padding: 15px;
            margin: auto;

            img {
                width: 100%;
            }
        }

        .ServiceName {
            text-align: center;
        }

        .ServiceName {
            padding: 10px 0;
            text-transform: uppercase;
        }

        .ServiceDesc {
            text-align: justify;
        }
    }
}