.SocialCard {
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: #000000;
    border: 1px dashed rgb(173, 173, 173);


    .SocialCardImg {
        width: 30px;
        height: 30px;
        margin: auto;

        img {
            width: 100%;

        }
    }

    .SocialCardName {
        text-align: center;
        margin-top: 5px;
        font-size: 11px;
    }
}