.DetailsWrap {

    ul {
        padding: 0px;
        list-style-type: none;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 0;

            span {

                &:nth-child(2) {
                    color: rgb(136, 136, 136);
                }
            }
        }
    }
}