.TimelineItem {
    width: 100%;
    padding: 20px;

    .TechHead {
        display: flex;
        font-weight: 700;
    }

    .ItemTime {
        margin-top: 5px;
        color: rgb(117, 117, 117);
        font-size: 13px;
    }

    .ItemDesc {
        margin-top: 10px;
        font-size: 13px;
    }

    .ItemTechsGrid {
        margin-top: 10px;

        .ItemTechnology {
            margin: 5px 5px 3px 0px;
            padding: 3px 5px;
            display: inline-block;
            background-color: #5eabd5;
            color: white;
            font-size: 11px;
            border-radius: 3px;
        }
    }

    hr {
        border: none;
        width: 50%;
        border-bottom: 1px solid rgb(212, 212, 212);
        margin-top: 50px;
    }
}